<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">POKEMON </h1>
            <h3 class="mb-5">
                <em>Programación 3</em>
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                comience
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>