<h1>Pokedex</h1>


<form class="pokemon-container">


    <div id="main">

    </div>


    <ul id="resultado">

    </ul>
</form>
<div id="main2">

</div>




<br>
<button type="submit" onclick="tm()" class="btn btn-dark" id="listar"> Tomar 10 Pokemon </button>
<br>






<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/funciona.js"></script>